@import '../variables';

.footer {
	background-color: $forge-gold;
	background-image: url("../../images/low-contrast-linen.png");
	border-top: 0.1875rem solid $forge-red;
	padding: 1rem 0 0;
}

.footerNav {
	width: 100%;
	display: none;

	@include media-breakpoint-up(md) {
		padding-top: 1rem;
		display: block;
	}

	li {
		width: 100%;
		float: none;
		margin-bottom: 0.75rem;

		a {
			color: $black;
			padding: 0.75rem 0 0.5rem;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.footerNavHeader {
	display: block;
	color: $black;
	font-family: $lemonmilk-regular;
	font-size: 1.375rem;
	transition: color ease 0.3s;
	padding: 0.75rem 0 0.5rem;

	&:hover {
		color: $forge-red;
		text-decoration: none;
	}
}

.footerSubMenu {
	display: block;
	position: static;
	border: 0;
	background: transparent;
	padding: 0;
	list-style: none;

	li {
		a {
			border-bottom: 0;
			width: 100%;
			padding: 0;
			transition: color ease 0.3s;

			&:hover {
				color: $forge-red;
			}
		}
	}
}

.social {
	width: 100%;
	align-items: center;
	justify-content: center;
	border-bottom: 0.1875rem solid $black;
	padding: 0 0 1rem;

	.socialHeader {
		margin: 0;
		text-transform: uppercase;
		color: $forge-red;
		font-size: 1.125em;
	}

	.socialLinks {
		float: none;
		display: flex;
		margin: 0 0 0 2rem;
		padding: 0;
		list-style-type: none;

		li {
			margin: 0 0.625rem;

			a {
				color: $forge-red;

				&:hover {
					color: $black;
				}
			}
		}

		svg {
			height: 2rem;
			width: 2rem;
		}
	}
}

.joinForgeHeadline {
	text-decoration: none;
	color: $black;
	font-family: $lemonmilk-regular;
	font-size: 1rem;
	transition: color ease 0.3s;
}

.joinForgeLink {
	&:hover {
		text-decoration: none;

		.joinForgeHeadline {
			color: $forge-red;
		}
	}
}

.blastLogo {
	max-width: 17.1875rem;

	@include media-breakpoint-up(md) {
		max-width: 100%;
	}
}