@import '../variables';
@import "../utilities/functions";

.mainNavBranding {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.mobileMenuContact {
	color: $black;
	font-size: 1.75rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;

	&:hover {
		color: $black;
	}
}

.logo {
	margin-bottom: 0;
}

.headerTitle {
	color: theme-color("primary");
	font-family: $lemonmilk-regular;
	font-size: 1.375em;
	letter-spacing: 0.063rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: rem(10);
}

.navLink {
	.navLinkText > span{
		font-size: rem(18);
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}