@import '../variables';

.sponsorBar {
	display: none;
	background-color: $black;
	clear: both;

	@include media-breakpoint-up(md) {
		display: block;
	}

	img {
		margin-bottom: 0;
	}
}

.sponsor {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sponsorLogo {
	max-width: 12.5rem;
	max-height: 12.5rem;
}